<div class="mobile-splash">
  <h1 id="splash-header">30chan</h1>
  <p id="splash-text">
    30chan is a simple image-based bulletin board where anyone can post comments and share images. 
    There are boards dedicated to a variety of topics, from Japanese animation and culture to videogames, music, and photography. 
    Users do not need to register an account before participating in the community. 
  </p>
</div>